<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tiny_College_Course_Management_System.Properties.Settings.connString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TinyCollegeCourseMgmtDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
    </connectionStrings>
</configuration>